################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CorporatePortal/.vs/CorporatePortal
/CorporatePortal/WPF/obj/Debug
/.vs
/CorporatePortal/API/bin/Debug/net8.0
/CorporatePortal/API/obj
/CorporatePortal/packages
